:root {
  --header-height: 75px;
  --footer-height: 75px;
  --rose-quartz: #B08FACff;
  --eerie-black: #211D14ff;
  --old-rose: #C5756Aff;
  --straw: #D9DF7Eff;
  --ivory: #FCFBECff;
}

body {
  color: var(--eerie-black);
  margin: 0;
  scrollbar-width: none;
  position: relative;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  display: contents;
}

div.header {
  position: fixed;
  background-color: var(--rose-quartz);
  width: 100%;
  height: var(--header-height);
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.content {
  width: 100%;
  background-color: var(--ivory);
  transform: translate(0px, var(--header-height));
  padding-bottom: var(--footer-height);
}

div.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}


div.icon {
  height: 1.5em;
  width: 1.5em;
  padding: 1px;
}

div.footer {
  background-color: var(--old-rose);
  width: 100%;
  height: var(--footer-height);
  z-index: 10;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  transform: translate(0px, var(--footer-height));
}