:root {
  --content-max-width: 1200px;
  --header-height: 55px;
  --header-padding: 10px;
  --footer-height: 55px;
  --footer-padding: 10px;
  --content-min-height: calc(100vh - var(--header-height) - var(--footer-height) - (2 * var(--header-padding)) - (2 * var(--content-padding)) - (2 * var(--footer-padding)));
  --content-padding: 10px;
  --content-width: min(100vw, var(--content-max-width));
}

body {
  font-family: Comic Mono;
  color: var(--text-color);
  scrollbar-width: none;
  position: relative;
  background-color: var(--body-background-color);
  max-width: var(--content-max-width);
  margin: 0 auto;
}

h1 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

a {
  display: contents;
}

a:link {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-link-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-link-color);
  text-decoration: none;
}

a:active {
  color: var(--active-link-color);
  text-decoration: none;
}

div.header {
  color: var(--header-text-color);
  padding: var(--header-padding);
  position: fixed;
  background-image: var(--header-background-color);
  width: calc(min(100vw, var(--content-max-width)) - (2 * var(--header-padding)));
  height: var(--header-height);
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 10px 3px 0 rgba(0, 0, 0, 0.2);
}

div.content {
  padding: var(--content-padding);
  width: calc(100% - (2 * var(--content-padding)));
  min-height: var(--content-min-height);
  background-color: var(--content-background-color);
  transform: translate(0px, calc(var(--header-height) + 20px));
}

div.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: min(10px, calc(var(--content-width) / 100));
}

div.icon {
  height: 1.5em;
  width: 1.5em;
  padding: 1px;
}

div.footer {
  color: var(--footer-text-color);
  padding: var(--footer-padding);
  background-color: var(--footer-background-color);
  width: 100%;
  height: var(--footer-height);
  display: flex;
  flex-direction: row;
  bottom: 0;
  transform: translate(calc(-1 * var(--footer-padding)), calc(var(--footer-height) + (3 * var(--footer-padding))));
}